<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.kcamp.cougarbiteapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentMethodActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>

        <service
            android:name=".Service.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".EmployeeOrderStatus" />
        <activity android:name=".OrderStatusActivity" />
        <activity
            android:name=".CheckOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomizeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodItemActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodCategories"
            android:label="@string/title_activity_food_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutScreenActivity" />
        <activity android:name=".EmployeeSignInScreenActivity" />
        <activity android:name=".CustomerSignInScreenActivity" />
        <activity android:name=".StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>