<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.kcamp.cougarbiteapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreditCardScreenActivity"></activity>
        <activity
            android:name=".BuildYourOwnScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CustomizeSandwichesScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Service.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".EmployeeOrderStatus"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".OrderStatusActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CheckOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomizeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AboutScreenActivity" />
        <activity android:name=".EmployeeSignInScreenActivity" />
        <activity android:name=".CustomerSignInScreenActivity" />
        <activity android:name=".StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>