<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.kcamp.cougarbiteapplication">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        tools:replace="android:icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CustomerApplicationClasses.CreditCardScreenActivity"/>
        <activity
            android:name=".CustomerApplicationClasses.BuildYourOwnScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.CustomizeSandwichesScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.PaymentMethodScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".EmployeeApplicationClasses.EmployeeOrderStatusScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.OrderStatusScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.CheckOutScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.ItemDescriptionScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.FoodScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".CustomerApplicationClasses.MenuScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutScreenActivity" />
        <activity
            android:name=".EmployeeApplicationClasses.EmployeeSignInScreenActivity" />
        <activity
            android:name=".CustomerApplicationClasses.CustomerSignInScreenActivity" />
        <activity android:name=".StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>